.request-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

mat-card {
    width: 600px;
}

.full-width {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}