.status-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

mat-card {
    width: 600px;
}

.status-timeline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.step {
    color: #ccc;
    font-weight: bold;
}

.step.active {
    color: #3f51b5;
    /* Primary color */
}

.actions {
    margin-top: 20px;
}